#container {
    display: grid;
    table-layout: fixed;
    
    border-collapse: collapse;
}

body {
    background-color: #b2edb2;
    font-weight: bold;
}

.row {
    display: block;
    /* margin: 15px; */
}

div {
    line-height: 0;
}

.box {
    display: inline-block;
    padding: 25px 15px 5px 15px;
    /* height: 17px;
    width: 17px; */
    text-align: center;
    vertical-align: bottom;
    /* margin: 15px; */
    border-top: 1px solid black;
    border-left: 1px solid black;
    color: transparent;
    font-size: 25px;
    background-color: #28be28;
}

.flags {
    color: #820404;
}

.easy {
    height: 17px;
    width: 17px;
    font-size: 25px;
}

.medium {
    height: 14px;
    width: 14px;
    font-size: 22px;
    padding-top: 22px;
}

.hard {
    height: 12px;
    width: 7px;
    font-size: 18px;
    padding-top: 18px;
}

.uncoveredBox {
    color: black;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

.box:hover {
    background-color: green;
}

.last-in-row {
    border-right: 1px solid black;
}
.last-in-col {
    border-bottom: 1px solid black;
}


.asfd {
    color: #5b5b5b;
}